@import "tailwindcss";

.navbartext{
 font-family: "Bungee Shade", sans-serif;
  font-weight: 900;
  font-style: normal
}


.tektur {
   font-family: "Inconsolata", monospace;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}